<section>
	<h1 class="text-3xl text-center font-bold uppercase mb-10">Productos Destacados</h1>

	<div class="flex justify-end mb-4">
		<carrito-icon (click)="toogerCarrito()"></carrito-icon>
		<p>
			<span>{{ carrito.length }}</span>
		</p>
	</div>

	<div class="grid grid-cols-1 place-items-center sm:grid-cols-2 lg:grid-cols-3 gap-4">
		@for(producto of productos; track producto.id) {
		<div class="bg-white rounded-lg shadow-md overflow-hidden m-4 flex flex-col max-w-sm">
			<img
				[src]="`/assets/images/${producto.image}.webp`"
				[alt]="producto.nombre"
				class="w-full h-60 object-cover"
			/>
			<div class="p-4 flex-grow">
				<h2 class="text-xl font-bold mb-2">{{ producto.nombre }}</h2>
				<p class="text-gray-600 mb-4">{{ producto.descripcion }}</p>
				<p class="text-lg font-semibold text-blue-600">${{ producto.precio }}</p>
			</div>
			<div class="p-4 bg-gray-50">
				<button
					class="bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded w-full transition duration-300"
					(click)="agregarAlCarrito(producto)"
				>
					Agregar al carrito
				</button>
			</div>
		</div>
		}
	</div>
</section>

@if(mostrarCarrito){
<carrito-modal
	[carrito]="carrito"
	(aumentarCantidad)="agregarAlCarrito($event)"
	(disminuirCantidad)="eliminarProducto($event)"
	(eliminarProducto)="eliminarDelCarrito($event)"
	(cerrarModal)="toogerCarrito()"
></carrito-modal>
}
